<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>QuizMe - Get Started</title>
  <link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="logo-container">
      <h1> QuizMe </h1>
    </div>
  
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('get_started') }}" class="active">Get Started</a></li>
        <li><a href="{{ url_for('your_flashcards') }}"> Your flashcards </a></li>
        <li><a href="{{ url_for('about_us') }}">About Us</a></li>
      </ul>
    </nav>
  </header>
    <div class="form-container">
      <form method="POST" action="{{ url_for('create_flashcards') }}">
        <p class="paste2">Paste or type your study material here:</p>
        <br><br>
        <textarea class="study-material" name="study_material" placeholder="Please input shorter and more concise texts
        You will have the option to append to your existing flashcard if you need to add more texts later" rows="6"></textarea>
        <p class="paste2">Number of flashcards to generate:</p>
        <input type="text" id="email" name="flashcard_count">
        <p class="paste2">Append to exisiting set?</p>
        <select id="append_option" name="append_option">
            <option value="no">No</option>
            <option value="yes">Yes</option>
        </select>
        <p class="paste2">If Yes, Name of flashcard you want to append to:</p>
        <input type="text" id="email" name="append_name" placeholder="Name of flashcard">

        {% if error_message %}
        <p class="error-message">{{ error_message }}</p>
        {% endif %}
        
        <button type="submit" id="create-flashcards-button">Create Flashcards</button>
      </form>
    </div>

  </section>

</body>
</html>
      
